body{
text-align: center;
}
h1
{
    text-transform:capitalize;
    color: brown;
    text-shadow:2px 2px black;
    font-size: 50px;
}
a
{
    text-transform: uppercase;
    text-decoration: none;
    color: green;
}
a:hover
{
    background-color:violet;
}
#p2,#p4
{
    background-color: aquamarine;
}
#p2
{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#p3
{
    font-weight: lighter;
    font-size: 8vw ;
    font-variant: small-caps;
    
}

#p1
{
    font-size: medium;
    letter-spacing: 5px;
    line-height: 1.8;
    font-style: italic;
}

#p1:active
{
background-color: blue;
}
#p2
{
    font-size: 2.5em;
}
#p4
{
    font-size: 100%;
    margin-left: 0px;
}
table
{
    margin: auto;
}
th
{
    text-transform: capitalize;
}
#month:focus
{
    background-color: blue;
}

ul
{
list-style-type: none;

}
.name
{
    margin-left: 10px;
}
    
div p
{
    background-color: blueviolet;
}

